@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    width: 100vw;
    height: 100vh;
}

body{
    background-color: black;
}

main{
    background-color: blueviolet;
    height: 100vh;
    position: relative;
}

section{
    background-color: white;
    width: 260px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;  
}

div#foto{
    background: blueviolet url("../imagem/pexels-jan-van-der-wolf-11680885-18239338.jpg") no-repeat center;
    background-size: cover;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
}

div#login{
    height: 300px;
    border-top: 1px solid black;
    padding: 5px;
}

div h1{
    text-align: center;
}

div#login > p{
    margin: 5px;
}

div > p#conteudo{
    font-size: 0.7em;
    margin-top: 10px;
    text-align: left;
}

form > p{
    margin: 10px;
}

.campo{
    height: 40px;
    background-color: rgb(95, 18, 168);
    margin: 0px 0px 3px 0px;
    position: relative;
    border-radius: 5px;
}

p > input.entrada{
    height: 90%;
    width: 85%;
    background-color: rgb(135, 207, 235);
    border: 1.98px solid rgb(12, 0, 22);
    border-radius: 13px 5px 5px 13px;
    position: absolute;
    right: 1px;
    top: .6px;
}

p.ultimop{
    padding: 0px;
    margin: 0px;
    margin-top: 5px;
}

input.click{
    display: block;
    height: 36px;
    width: 100%;
    background-color: rgb(8, 185, 176);
    color: white;
    border: 1.98px solid rgb(12, 0, 22);
    border-radius: 5px;
    margin: 0px;
    right: 1px;
    top: 1px;
    bottom: 10px;
    margin-bottom: 3px;
}